{
    "globals": {
      "it": true,
      "before": true,
      "describe": true,
      "chai": true,
      "chaiHttp": true,
      "server": true,
      "internalToken": true,
      "appId": true,
      "testUser": true,
      "testAppDevice": true,
      "testAppDeployment": true,
      "testAppModule": true,
      "testAppModuleProvider": true,
      "testNetworkUser": true,
    },
}
