{
    "globals": {
      "it": true,
      "before": true,
      "beforeEach": true,
      "describe": true,
      "chai": true,
      "chaiHttp": true,
      "server": true,
      "testUser": true,
    },
}
