{
  "globals": {
    "it": true,
    "before": true,
    "describe": true,
    "chai": true,
    "chaiHttp": true,
    "server": true,
    "appId": true,
    "testUser": true,
    "testApp": true,
    "testAppDevice": true,
    "testAppDeviceSession": true,
    "testAppSource": true,
    "testAppUser": true,
  },
}
