{
    "globals": {
      "it": true,
      "before": true,
      "describe": true,
      "chai": true,
      "chaiHttp": true,
      "server": true,
      "appId": true,
      "testUser": true,
      "testAppUser": true,
      "testAppDeployment": true,
      "testAppModule": true,
    },
}
